body {
  background: #e5e5e5;
}
.container1 {
  background: linear-gradient(
    110.58deg,
    #df45ec 1.54%,
    #8d4de3 52.36%,
    #3257da 100%
  );
}

.text h1 {
  margin-left: 150px;
  margin-top: 200px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 130%;
  /* or 81px */

  letter-spacing: 0.01em;

  color: #ffffff;
}
.text p {
  margin-left: 150px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */

  color: #ffffff;
}
.figura {
  border-bottom-right-radius: 55%;

  margin-bottom: -230px;
  margin-top: 182px;
  width: 420px;
  height: 780px;
  background: linear-gradient(162.03deg, #ffb443 -26.24%, #b213da 121.12%);
}

.button button {
  margin-left: 150px;
  width: 201px;
  height: 62px;
  left: 165px;
  top: 619px;

  background: linear-gradient(98.3deg, #ffb443 -6.86%, #b213da 195.79%);
}

.button p {
  margin-left: 3px;
  margin-top: 12px;
}

.chips1 {
  margin-bottom: -330px;
  margin-left: 150px;
  margin-right: 200px;

  display: flex;
  justify-content: start;
}

.chips2 {
  margin-bottom: -330px;
  margin-left: 150px;
  margin-right: 200px;
  display: flex;
  justify-content: start;
}

.chips2 p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 180%;
  /* identical to box height, or 47px */

  color: #363a45;
}

.chips1 h2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 140%;
  /* identical to box height, or 62px */

  letter-spacing: 0.01em;

  background: linear-gradient(98.3deg, #ffb443 -6.86%, #b213da 195.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
